#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&lt { tapping-term-ms = <175>; };

/ {
    combos {
        compatible = "zmk,combos";

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        exit_AML: exit_AML {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings = <&tog_off 4>;          // レイヤー4(Mouse)を OFF
            label = "exit_AML";
        };

        kp_exit_AML: kp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &exit_AML>;  // キー送出→AML解除
            label = "kp_exit_AML";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        hmt: hold_preferred_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "Hold-preferred Mod Tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        rev_colon: rev_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "Reverse colon semi-colon";
            bindings = <&kp COLON>, <&kp SEMI>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        hmt_colon: hmt_colon {
            compatible = "zmk,behavior-hold-tap";
            label = "HMT_COLON";
            bindings = <&mo>, <&rev_colon>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        tog_off: toggle_layer_off {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };

        mt_exit_AML_on_tap: mt_exit_AML_on_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "mt_exit_AML_on_tap";
            bindings = <&kp>, <&kp_exit_AML>;   // hold=修飾キー / tap=キー送出+AML解除

            #binding-cells = <2>;
            tapping-term-ms = <200>;            // 既存 hmt と同じ(flavor 未指定=hold-preferred)
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default {
            bindings = <
&kp TAB     &kp Q  &kp W         &kp E  &kp R        &kp T                                                 &kp Y                          &kp U  &kp I      &kp O    &kp P           &kp BSPC
&kp LCTRL   &kp A  &kp S         &kp D  &kp F        &kp G                                                 &kp H                          &kp J  &kp K      &kp L    &lt 5 MINUS     &kp ENTER
&kp LSHIFT  &kp Z  &kp X         &kp C  &kp V        &kp B                                                 &kp N                          &kp M  &kp COMMA  &kp DOT  &hmt_colon 2 0  &kp RSHIFT
            &mo 4  &kp LEFT_ALT  &mo 3  &lt 1 SLASH  &mt_exit_AML_on_tap LEFT_COMMAND LANGUAGE_2  &kp SPACE    &kp SPACE  &mt_exit_AML_on_tap RIGHT_COMMAND LANGUAGE_1                    &mo 6    &lt 5 ESCAPE
            >;
        };

        Symbols {
            bindings = <
&trans  &kp TILDE  &kp EXCLAMATION  &kp AT_SIGN   &kp HASH   &trans                    &kp EQUAL         &kp PLUS           &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp BSLH      &trans
&trans  &kp GRAVE  &kp DOLLAR       &kp PERCENT   &kp CARET  &trans                    &kp UNDERSCORE    &kp MINUS          &kp LBKT              &kp RBKT               &kp FSLH      &trans
&trans  &trans     &kp AMPERSAND    &kp ASTERISK  &kp PIPE   &trans                    &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp QUESTION  &trans
        &trans     &trans           &trans        &trans     &trans  &trans    &trans  &trans                                                     &trans                 &trans
            >;
        };

        Num+Func {
            bindings = <
&trans  &kp ASTERISK  &kp N1  &kp N2  &kp N3  &kp PLUS                     &kp F1  &kp F2   &kp F3   &kp F4   &trans  &trans
&trans  &kp FSLH      &kp N4  &kp N5  &kp N6  &kp MINUS                    &kp F5  &kp F6   &kp F7   &kp F8   &trans  &trans
&trans  &kp DOT       &kp N7  &kp N8  &kp N9  &kp N0                       &kp F9  &kp F10  &kp F11  &kp F12  &trans  &trans
        &trans        &trans  &trans  &trans  &trans     &trans    &trans  &trans                    &trans   &trans
            >;
        };

        Arrow {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans    &trans    &trans  &trans     &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &kp END  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp HOME  &trans    &trans  &trans     &trans   &trans
        &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                      &trans     &trans
            >;
        };

        Mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans     &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &mkp MB1  &mkp MB3   &mkp MB2  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &mkp MB4  &kp RG(W)  &mkp MB5  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                       &trans    &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans    &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &mkp MB3  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans    &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                    &trans  &trans
            >;
        };

        Bluetooth {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                            &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans
&trans  &trans  &trans  &trans  &trans  &trans                            &trans        &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans  &trans  &trans  &trans  &trans                            &trans        &trans        &trans        &trans        &trans        &bt BT_CLR_ALL
        &trans  &trans  &trans  &trans  &trans  &trans    &studio_unlock  &trans                                    &trans        &trans
            >;
        };
    };
};
